*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   
}

body 
{font-family: 'Poppins', sans-serif;
}
h1 
{
font-family: Work Sans;
}
a {
    text-decoration: none;
}
li{
    list-style-type: none;
}
/* -----------header-start------------------ */
header
{
    background-color:#ff8f0e27;
    height: auto;
    margin-bottom: 100px;
    padding-bottom: 50px;
    width: 100%;
    
}
.topheader
{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100px;
   
}

.menu {
    display: flex;
    gap:40px;}

.menu li a 
{
text-decoration: none;
font-size: 18px;
color: #424242;
}

.menu a:hover
{
border-bottom: 1px solid rgb(255, 145, 0);
border-top: 1px solid rgb(255, 145, 0);
}


/* ----------main-content---------------- */


/* ----------------------header-Content Start------------------ */
.header-content
{
     width: 900px;
   margin: 100px auto 35px;
}
.header-title
{
    width: 600px;
     margin:0 auto;
    text-align: center;
}
.header-title h1,h2
{
font-size: 60px;
line-height: 1.2;

}
.header-title p 
{
    margin: 15px 0px;
}


.header-btn
{
padding: 17px 22px;
margin-top:20px;
background-color:#FF900E;
color: white;
border: none;
border-radius: 5px;
}
.header-btn a 
{
    color: white;
}
.header-btn:hover 
{
    background-color: blue;
}

.banner
{
    background-image: url(../images/banner-min.png);
    width:1000px;
    height: 500px;
   background-size: cover;
   background-repeat: no-repeat;
   margin:0px auto;
   border-radius: 5px;
}
-------our feauter person ----------
.project
{
    width: 100%;
    background: #FFFFFF;
    margin-bottom: 50px;
}

.our-team
{
    display: flex;
    justify-content:center;
    flex-direction: row-reverse;
    width: 1000px;
    margin: 0 auto;
    align-items: center;
    
}
.our-team-person
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: #d3af89;
}
.our-team-person img 
{
 width: 250px;
}

.team-featur 
{
  margin-left:50px ;
  width: 500px;
}

.feautre-title
{
    font-size: 45px;
}

.feautre-title .title-yellow
{
    color: #FF900E;
}
.feautre-title .title-gray 
{
color:#727272;
}
.title-discription
{
    margin: 20px 0px 40px;
     font-size: 14px;
}


.header-btn a{
    font-size: 14px;
}

/* ------Articale-discription----------- */
/* -----------------Architects-background */
.our-architects
{
    display: flex;
    width: 1000px;
    margin: 50px auto;
    position: relative;
    justify-content: space-between;
 }

.left-container
{
    width: 40%;
}

.architects-title
{
    border-left: 3px solid rgb(255, 145, 0);
}
.architects-title h2
{
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.architects-picture
{
    width: 50%;
   
    background-image: url('../images/architect-min.png');
    background-position: center;
    background-size: cover;
}
/* .architects-picture img  */
/* {
    width: 100%;
   height: 100%;
   background-position: center;
} */
.discription-title p 
{
    margin-bottom: 35px;
    font-size: 13px;
}
.service
{
    display: flex;
    flex-direction: column;
    gap: 17px;
    
}
.service-list
{
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
padding: 15px 10px;

}
.service-list h4
{
    margin-bottom: 10px;
}

.service p 
{
    font-size: 13px;
}
.small-button
{
    width: 200px;
   
    position: absolute;
    background-color: #FF900E;
    bottom: -84px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    align-items: center;
    padding: 20px 40px;
}
.small-button h1 
{
    font-size: 35px;
    color: white;
  
}
.small-button p 
{
    color: white;
    
}

/* -------------project-complete top--------------- */

.project-complete
{
    width: 100%;
    margin: 150px 0px;

}

.project-list
{
    
    width: 1000px;
    margin: auto;
}
.project-title
{
    width: 400px;
    margin-bottom: 50px;
}
.project-title h1 
{
    font-size: 30px;
    margin-bottom: 15px;
    color: #131313;
}
.project-title p
{
font-size: 13px;
color: black;
}
.project-name
{
    width: 900px;
    margin: auto;
    display: flex;
    justify-content:space-around;
}

.project-catgory
{
    text-align: center;
    border: 1px solid #FF900E;
    padding: 10px;
}
.project-catgory img
{
    width: 40px;
    height: 40px;
}

.project-catgory{
  transition: transform .7s ease-in-out;
}
.project-catgory:hover {
  transform: rotate(360deg);
}

.project-catgory h3 
{
    color: #424242;
}
.project-catgory p 
{
color: #727272
;
font-size: 12px;
}

/* -------company sponsor list top---------- */
.sponspors-details
{
    width: 1000px;
    margin: auto;
    margin-bottom: 50px;
}

.sponspors
{
    text-align: center;
    width: 400px;
    margin: auto;
}
.sponspors h1 
{
    font-size: 40px;
   color: #131313;
}
.sponspors p{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 50px;
}


.sponsporS-list img 
{
    width: 107px;
    height: 45px;

}
.filter 

    {
        filter: grayscale(150%);
    }

.sponsporS-list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ------Copy-right-section */
.copy-right
{
    width: 1000px;
    background-color: #FFF4E7;
    margin: auto;
    
    text-align: center;
    align-items: center;
    padding: 20px 0;
    color: #424242;
    margin-bottom: 50px;

}
.copy-right
{
    font-size: 12px;
}
/* --------------copy-right end */


* Trainig Center start */
.trainign-center
{
    width: 100%;
    height: 600px;
   
    
}
.training-title 
{
    text-align: center;
    padding: 25px 0;
    color: #212121;
    font-size: 35px;
    margin-bottom: 10px;
}
.container
{
    width:1000px ;
    margin: auto;
    display: flex;
    gap: 20px;
   
}

.training-items
{
    
   margin: 10px 10px;
   box-shadow: 0px 0px 12px 5px lightgray;
   text-align: center;
   height: 300px;
   padding: 0px 20px;
   
}

.training-items h2 
{
    font-size: 20px;
}
.training-items p 
{
    font-size: 12px;
    padding:10px;
   
  
}
.training-items button
{
    background: blue;
    padding: 10px 25px;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 10px 0px;
}
.training-items:hover 
{
    background-color: blue;
}
.training-items:hover h2,.training-items:hover p
{
   color: white;
}
.training-items:hover button
{
    background-color: white;
    color: blue;
}

/* Trainign section end */



@media only screen and (max-width: 576px) {
  header {
    width: 100%;
  }
  .topheader
  {
    width: 100%;
    flex-direction: column;
    height: auto;
    gap:15px;
    
  }
  .menu
  {
    flex-direction: column;
  }

