*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   
}

body 
{font-family: 'Poppins', sans-serif;
}
h1 
{
font-family: Work Sans;
}
a {
    text-decoration: none;
}
li{
    list-style-type: none;
}
/* -----------header-start------------------ */
header
{
    background-color:#ff8f0e27;
    height: auto;
    margin-bottom: 100px;
    padding-bottom: 50px;
    
}
.topheader
{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100px;
   
}

.menu {
    display: flex;
    gap:40px;}

.menu li a 
{
text-decoration: none;
font-size: 18px;
color: #424242;
}

.menu a:hover
{
border-bottom: 1px solid rgb(255, 145, 0);
border-top: 1px solid rgb(255, 145, 0);
}


/* ----------main-content---------------- */


/* ----------------------header-Content Start------------------ */
.header-content
{
     width: 900px;
   margin: 100px auto 35px;
}
.header-title
{
    width: 600px;
     margin:0 auto;
    text-align: center;
}
.header-title h1,h2
{
font-size: 60px;
line-height: 1.2;

}
.header-title p 
{
    margin: 15px 0px;
}


.header-btn
{
padding: 17px 22px;
margin-top:20px;
background-color:#FF900E;
color: white;
border: none;
border-radius: 5px;
}
.header-btn a 
{
    color: white;
}
.header-btn:hover 
{
    background-color: blue;
}

.banner
{
    background-image: url(../images/banner-min.png);
    width:1000px;
    height: 500px;
   background-size: cover;
   background-repeat: no-repeat;
   margin:0px auto;
   border-radius: 5px;
}
-------our feauter person ----------
.project
{
    width: 100%;
    background: #FFFFFF;
    margin-bottom: 50px;
}

.our-team
{
    display: flex;
    justify-content:center;
    flex-direction: row-reverse;
    width: 1000px;
    margin: 0 auto;
    align-items: center;
    
}
.our-team-person
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: #d3af89;
}
.our-team-person img 
{
 width: 250px;
}

.team-featur 
{
  margin-left:50px ;
  width: 500px;
}

.feautre-title
{
    font-size: 45px;
}

.feautre-title .title-yellow
{
    color: #FF900E;
}
.feautre-title .title-gray 
{
color:#727272;
}
.title-discription
{
    margin: 20px 0px 40px;
}

.header-btn a{
    font-size: 14px;
}

/* ------Articale-discription----------- */
/* -----------------Architects-background */
.our-architects
{
    display: flex;
    width: 1000px;
    margin: 50px auto;
    height: auto;
    gap:50px
    
}
.left-container
{
    width: 50%;
     height: 2px;
}




.architects-picture
{
    width: 50%;
    height: 50%;
   
 
}
.architects-picture img 
{
    width: 100%;
   height: 100%;
    
}